<div class="link read-<%=link.read%>" data-id=<%=link.id%>>
  <% if top_reads != [] %>
    <% if top_reads[0]["url"] == link.url %>
      <h4>Top Link!</h4>
    <% elsif top_reads.include?(link.url) %>
      <h4>Hot Read!</h4>
    <% end %>
  <% end %>

  <h3>Title: <%= link.title %></h3>
  <p class='url'>URL: <%= link_to link.url, link.url %></p>
  <p>Read?: <span class='read-status'><%= link.read %></span></p>
  
  <% if link.read %>
    <button class='mark-as-unread'>Mark as Unread</button>
  <% else %>
    <button class='mark-as-read'>Mark as Read</button>
  <% end %>
  <%= button_to "Edit", edit_link_path(link.id), method: :get %>
</div>
